/* Empty. Add your own CSS if you like */

.camera{
	background-image: url("../img/photo.jpg");
	width: 100vw;
	height: 91vh;
}

.send{
	background-color: #FAFAFA;
	width: 100vw;
	height: 91vh;
}

.stat{
	color: #FAFAFA;
	background-color: #1D1D1D;
	width: 100vw;
	height: 91vh;
	left:-7%;
}

.cadre{
	width: 300px;
	height: 300px;
	padding-left: 10%; 
}

.photo{
	width: 300px;
	height: 300px;
}

.gallery-item{
	width: 100px;
	height: 100px;
	padding-left: 0;
	float: left;
	padding-right: 5%;
	padding-bottom: 5%; 
}
.gallery {
	width:100%;
	padding-left: 5%;
}

.radius{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: solid 1px black;
	background: blue;
	position: absolute;
	bottom: 5%;
	left:-14%;
}

h1{
	position: relative;
	left:-7%;
}

#timeData {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
}

.resizing {
  position: relative;
  width: 90%;
  height: 100%;
  padding: 0;
  position: absolute;
  left: 0; right: 0;
  margin: auto;
  bottom: 0;
}

.white{
	color: #FAFAFA;
}

.upload{
	width: 100px;
	height: 100px;
	/*background:#1352E2;*/
	background: #1352e2;
	position: absolute;
	bottom: 0;
	right: 0;
}

.icon{
	font-size: 90px;
}

.add{
	width: 50px;
	height: 50px;
	background:grey;
	/*position: absolute;
	bottom: 0;
	right: 0;*/
}

.remove{
	width: 100px;
	height: 100px;
	background:red;
	position: absolute;
	bottom: 0;
	left: 0;
}
.top-right{
	position: absolute;
	top: 0;
	right: 0;
}

.custom-icon {
  color : white;
}

.big{
	font-size: 40px;
}

.center{
	text-align: center;
}

.title-stat{
	text-decoration: underline; 
}